/* Add google font */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header image */
#home {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-pic.jpg);
    height: 200px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Header font */
header h1 {
    font-family: 'Style script';
    font-size: 40px;
    color: white;
}

.text-center {
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 20%;
}

.flexbox {
    display: flex;
    flex-direction: column;
}
/* Navigation bar */
nav {
    padding: 0;
    width: 100%;
}

nav > a {
    text-decoration: none;
    color: beige;
    font-size: larger;
    margin: 5px 5px;
}

nav > a:hover {
    color: rgba(255, 206, 115, 0.75);
}

.black-background {
    background-color: black;
}

.text-uppercase {
    text-transform: uppercase;
}