/* Add google font */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------ Header image ------ */
#header {
    /* Image taken from https://images.unsplash.com/photo-1495929427389-a6451f2e01fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-pic.jpg);
    height: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ------ Header font ------ */
header h1 {
    font-family: 'Style script';
    font-size: 40px;
    color: white;
}

.text-center {
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 20%;
}

.flexbox {
    display: flex;
    flex-direction: row;
}
/* ----- Navigation bar ------ */
nav {
    padding: 0;
    width: 100%;
}

nav > a {
    text-decoration: none;
    color: beige;
    font-size: larger;
    margin: 5px 5px;
}

nav > a:hover {
    color: rgba(255, 206, 115, 0.75);
}

.black-background {
    background-color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

/*----- Main ------*/

#home {
    /* Image taken from https://images.unsplash.com/photo-1516154767575-2146adebdf32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80 */
    background: url(../images/bg-home.jpg) center center / cover no-repeat fixed;
    padding: 1rem;
    margin-bottom: 20px;
}

.text-white {
    color: white;
    
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.6);
}

#home div {
    background-color: black;
    padding: 10px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;   
}

.ul {
    text-decoration: underline;
    color:bisque
}
/* ------ About Us ------ */


/* ------ Sign Up------ */

/* ------ Contact Us ------ */

/* ------ Footer ------ */
footer {
    background-color: #000000;
    padding: 1px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}
